<!DOCTYPE html>
<html>
<head>
     <title>Crop Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>🌱 Precision Crop Recommendation</h2>

        <form action="/predict" method="post">
            <label>Nitrogen (N)</label>
            <input type="number" name="N" step="any" required>

            <label>Phosphorus (P)</label>
            <input type="number" name="P" step="any" required>

            <label>Potassium (K)</label>
            <input type="number" name="K" step="any" required>

            <label>Temperature</label>
            <input type="number" name="temperature" step="any" required>

            <label>Humidity</label>
            <input type="number" name="humidity" step="any" required>

            <label>pH</label>
            <input type="number" name="ph" step="any" required>

            <label>Rainfall</label>
            <input type="number" name="rainfall" step="any" required>

            <button type="submit">Predict Crop</button>
        </form>

        {% if crop %}
        <div class="result">
            ✅ Recommended Crop: <b>{{ crop }}</b>
        </div>
        {% endif %}
    </div>
</body>

</html>
